# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore development files
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# Ignore npm/yarn lock files
yarn.lock

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore test coverage reports
coverage/

# ignore husky
.husky/  

# Ignore any other files or directories you want to exclude

# Ignore all unit test files
*.test.js
*.test.ts
*.test.jsx
*.test.tsx
*.spec.js
*.spec.ts
*.spec.jsx
*.spec.tsx
# Ignore all end-to-end test files
*.e2e.js
*.e2e.ts
*.e2e.jsx
*.e2e.tsx
*.e2e-spec.js
*.e2e-spec.ts
*.e2e-spec.jsx
*.e2e-spec.tsx
# Ignore all integration test files
*.int.js
*.int.ts
*.int.jsx
*.int.tsx
*.int-spec.js
*.int-spec.ts
*.int-spec.jsx
*.int-spec.tsx
# Ignore all performance test files
*.perf.js
*.perf.ts
*.perf.jsx
*.perf.tsx
*.perf-spec.js
*.perf-spec.ts
*.perf-spec.jsx
*.perf-spec.tsx
