.Toastify__toast--error {
    border-radius: 12px !important;
}

.Toastify__toast--success {
    border-radius: 12px !important;
  }

  .Toastify__toast--warning {
    border-radius: 12px !important;
  }