apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-service-agent
  namespace: scs-project
  labels:
    app: ai-service-agent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-service-agent
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: ai-service-agent
    spec:
      containers:
      - name: ai-service-agent
        image: tuansondocker1407/capstone-sp-25-ai-service-agent:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8002
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        livenessProbe:
          httpGet:
            path: /scalar
            port: 8002
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /scalar
            port: 8002
          initialDelaySeconds: 5
          periodSeconds: 5
        envFrom:
        - configMapRef:
            name: ai-service-agent-config
        - secretRef:
            name: ai-service-agent-secrets
