apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ai-service-models
  namespace: scs-project
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
