apiVersion: v1
kind: Service
metadata:
  name: ai-service
  namespace: scs-project
  labels:
    app: ai-service
spec:
  selector:
    app: ai-service
  ports:
  - port: 8000
    targetPort: 8000
    name: http
  type: ClusterIP
