managedServiceAccount: true
serviceAccount: "filebeat"

extraEnvs:
  - name: ELASTICSEARCH_USERNAME
    valueFrom:
      secretKeyRef:
        name: elasticsearch-elastic-user
        key: username
  - name: ELASTICSEARCH_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-elastic-user
        key: password
  - name: ELASTICSEARCH_HOST
    value: "https://elasticsearch-master:9200"
  - name: KIBANA_HOST
    value: "http://kibana:5601"


filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
        - /var/log/scs-backend/*.log 
      processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: 
                - "/var/log/containers/"
                - "/var/log/scs-backend/"

    output.elasticsearch:
      hosts: ['${ELASTICSEARCH_HOST}']
      username: '${ELASTICSEARCH_USERNAME}'
      password: '${ELASTICSEARCH_PASSWORD}'

    setup.kibana:
      host: '${KIBANA_HOST}'

  name: filebeat

