python-dotenv
redis
httpx
fastapi
uvicorn
databases
pydantic
scalar-fastapi
mcp-community
langchain
langgraph-checkpoint-mongodb
langchain-mcp-adapters
langchain-groq
langchain-ollama
langchain-google-genai
langgraph
arize-phoenix
arize-phoenix-otel
openinference-instrumentation-langchain
pyfiglet
motor