scikit-learn
pandas
aioodbc
joblib
python-dotenv
celery
celery[redis]
flower
django-celery-beat
redis
sqlalchemy
alembic
streamlit
matplotlib
httpx
pyodbc
fastapi
uvicorn
databases
pydantic
scalar-fastapi
mcpserver
motor