name: Security Tests Reusable Workflow

on:
  workflow_call:
    inputs:
      frontend_dir:
        required: true
        type: string
      backend_dir:
        required: true
        type: string

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: master
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@v0.10.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'https://sonbt.site'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
